.sources {
    font-family: judson, sans-serif;
    margin-left: 100px;
}

.sources-title {
    color: rgb(141, 155, 138);
}

a:link {
    color: rgb(141, 155, 138);
    text-decoration: none;
}

a:visited {
    color: rgb(94, 105, 92);
}

a:hover {
    color: rgb(192, 207, 187);
    text-decoration: none;
}