.header {
    display: flex;
    margin-top: 10px;
}

.home-icon {
    color: rgb(167, 190, 159);
    font-family: Judson, sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(224, 224, 224);
    border: none;
}

.subtitles {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-left: 950px;
}

.subtitles button {
    border: none;
}

.about-button,
.tips-button,
.statistics-button,
.my-profile-button {
    background-color: rgb(224, 224, 224);
}

.about-button:hover,
.tips-button:hover,
.statistics-button:hover,
.my-profile-button:hover {
    text-decoration: underline;
}