<!DOCTYPE html>
<html>
  <head>
    <title>FootTracker Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/login-styles/general.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/login-styles/header.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/login-styles/about-page.css') }}" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;700&family=Judson:wght@700&display=swap"
        rel="stylesheet">
  </head>

  <body>
    <h1>Sign Up</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    
    
    <a href="{{url_for('login')}}">Already a member?</a>
  </body>
</html>